
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

h1{
  font-size: 5.5rem;
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a{
  color: #11999E;
}

hr{
  border-top: 2px solid grey;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

/****** class selectors ***********/
.top-container{
  background-color: #BDF2D5;
  position: relative;
  padding: 100px;

}

.top-cloud{
  position: absolute;
  top: 10rem;
  right: 19rem;
}

.bottom-cloud{
  position: absolute;
  left: 400px;
  bottom: 400px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 3;
}

.comp-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cric-img{
  width: 25%;
  float: right;
  margin-right: 30px;
}
